body {
    margin: 10px;
  }
  
  .sale-container {
    display: block;
  }

  .sale-details {
    display: flex; 
    border: 1px solid #e2e2e2;
    flex-direction: column; 
    flex-wrap: wrap; 
    flex-basis: calc(33.33% - 18px);
    flex-grow: 1;
    flex: 1 1 30%;
    height: auto; 
    width: 100%; 
    padding: 20px;
    margin: 10px 0 0 2%;
   
  }
  .sale-wrapper{
    display: inline-flex;
  }

  .sale-description-div{
      padding-top: 0;
      width: 50% !important;
      display: inline-block;
  }

  .sale-button-div {
    background: linear-gradient(150deg,#e1163c,#a11453);
    border-radius: 3px;
    padding: 12px 15px !important;
    font-family: gotham-book,'Arial',sans-serif;
    text-align: center;
    border: 0;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    cursor: pointer;
    font-size: 0;
    letter-spacing: -1px;
    position: relative;
    margin-top: 20px !important;
    height: 30px;
    float: right;
    width: 150px;
}
  
  #imgbox {
    height:100px;
    width:100px;
    margin-left:10px;
    margin-top:10px;
  }

  #imgbox img {
    width:100%;
    position:relative;
  }


/* .search-results-card {
    -ms-flex-preferred-size: calc(33.33% - 18px);
    flex-basis: calc(33.33% - 18px);
    max-width: calc(33.33% - 18px);
} */

