<section class="sale-container">
    <article class="sale-details">
        <div class="sale-wrapper">
            <div class="sale-image-div">
                <figure id="imgbox">
                    <img class="lazy"
                src="//d3hk78fplavsbl.cloudfront.net/assets/common-prod/hotel/205/706971/706971-1-results_carousel.jpg?version=8"
                alt="">
                </figure>
            </div>
            <div class="sale-description-div">
                <!-- <h1>Hotel 1</h1>
                <h3>Seatle, USA</h3> -->
                <span class="WS-loc-txt premium-brand removeFocus"> Premium </span> 
                <div class="WS-location-point removeFocus">
                    <span class="WS-loc-icn removeFocus"> 
                            <span class="depFlight removeFocus">London Heathrow</span> 
                                <span class="flightCode removeFocus">(LHR)</span>
                                 <span class="dubbleArrow removeFocus"></span>
                                 <span class="destFlight removeFocus">Orlando</span>
                                  <span class="flightCode removeFocus">(MCO)</span>  
                            </span>
                        </div>
                        <div class="WS-location-detail removeFocus">
                             	<div class="removeFocus"> 
                                     	<span class="WS-loc-txt removeFocus"> 
                                             	<span class="WS-loc-icn removeFocus"> 
                                                         <img src="/content/dam/vaa/Site Imagery/campaigns/winter/calendar-icon.svg" style="width: 16px;"> 
                                                        </span> 
                                                        <span class="WS-outbound-date removeFocus">08 Sep</span> - <span class="WS-return-date removeFocus">15 Sep 21 </span>
                                                    </span> 
                                                </div>
                                                <div class="brandBaggage removeFocus"> 
                                                    	<span class="WS-loc-txt removeFocus">
                                                             <span class="WS-loc-icn removeFocus">
                                                                 <span class="WS-loc-txt removeFocus">
                                                                      	<span class="WS-loc-icn removeFocus">
                                                                                   <img src="/content/dam/vaa/Site Imagery/campaigns/winter/baggage-icon.svg" style="width:16px;"> 	</span>2 x 23kg baggage 	</span>
                                                                            </span>
                                                                        </span>
                                                                    </div> 
                                                                </div> 	
            </div>
            <div class="sale-button-div">
                <button class="view">Book from £621</button>
            </div>
        </div>
    </article>
    <article class="sale-details">
        <div class="sale-wrapper">
            <div class="sale-image-div">
                <figure id="imgbox">
                    <img class="lazy"
                src="//d3hk78fplavsbl.cloudfront.net/assets/common-prod/hotel/205/706971/706971-1-results_carousel.jpg?version=8"
                alt="">
                </figure>
            </div>
            <div class="sale-description-div">
                <h1>Hotel 1</h1>
                <h3>Seatle, USA</h3>
            </div>
            <div class="sale-button-div">
                <button class="view">Book from £621</button>
            </div>
        </div>
    </article>
    <article class="sale-details">
        <div class="sale-wrapper">
            <div class="sale-image-div">
                <figure id="imgbox">
                    <img class="lazy"
                src="//d3hk78fplavsbl.cloudfront.net/assets/common-prod/hotel/205/706971/706971-1-results_carousel.jpg?version=8"
                alt="">
                </figure>
            </div>
            <div class="sale-description-div">
                <h1>Hotel 1</h1>
                <h3>Seatle, USA</h3>
            </div>
            <div class="sale-button-div">
                <button class="view">Book from £621</button>
            </div>
        </div>
    </article>
    <article class="sale-details">
        <div class="sale-wrapper">
            <div class="sale-image-div">
                <figure id="imgbox">
                    <img class="lazy"
                src="//d3hk78fplavsbl.cloudfront.net/assets/common-prod/hotel/205/706971/706971-1-results_carousel.jpg?version=8"
                alt="">
                </figure>
            </div>
            <div class="sale-description-div">
                <h1>Hotel 1</h1>
                <h3>Seatle, USA</h3>
            </div>
            <div class="sale-button-div">
                <button class="view">Book from £621</button>
            </div>
        </div>
    </article>
    <article class="sale-details">
        <div class="sale-wrapper">
            <div class="sale-image-div">
                <figure id="imgbox">
                    <img class="lazy"
                src="//d3hk78fplavsbl.cloudfront.net/assets/common-prod/hotel/205/706971/706971-1-results_carousel.jpg?version=8"
                alt="">
                </figure>
            </div>
            <div class="sale-description-div">
                <h1>Hotel 1</h1>
                <h3>Seatle, USA</h3>
            </div>
            <div class="sale-button-div">
                <button class="view">Book from £621</button>
            </div>
        </div>
    </article>
    <article class="sale-details">
        <div class="sale-wrapper">
            <div class="sale-image-div">
                <figure id="imgbox">
                    <img class="lazy"
                src="//d3hk78fplavsbl.cloudfront.net/assets/common-prod/hotel/205/706971/706971-1-results_carousel.jpg?version=8"
                alt="">
                </figure>
            </div>
            <div class="sale-description-div">
                <h1>Hotel 1</h1>
                <h3>Seatle, USA</h3>
            </div>
            <div class="sale-button-div">
                <button class="view">Book from £621</button>
            </div>
        </div>
    </article>
</section>