<section class="sale-container">
    <div class="sale-box">
        <div class="flex-book-tab">
            <div class="flex-book-tab-txt">Book now, change later. Flexible bookings.</div>
        </div>
        <article class="sale-details">
            <div class="sale-wrapper">
                <div class="sale-image-div">
                    <figure id="imgbox">
                        <img class="lazy" src="/assets/img/hotelref.jpg" alt="">
                    </figure>
                </div>
                <div class="sale-description-div">
                    <!-- <h1>Hotel 1</h1>
                    <h3>Seatle, USA</h3> -->
                    <span class="WS-loc-txt premium-brand "> Premium </span>
                    <div class="WS-location-point ">
                        <span class="WS-loc-icn ">
                            <span class="depFlight ">London Heathrow</span>
                            <span class="flightCode ">(LHR)</span>
                            <span class="dubbleArrow "><i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                            <span class="destFlight ">Orlando</span>
                            <span class="flightCode ">(MCO)</span>
                        </span>
                    </div>
                    <div class="WS-location-detail ">
                        <div class="">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="WS-outbound-date ">08 Sep</span> - <span class="WS-return-date ">15 Sep 21
                                </span>
                            </span>
                        </div>
                        <div class="brandBaggage ">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </span>
                                        <span class="baggageDet">2 x 23kg baggage </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sale-button-div">
                    <button class="view">Book from £621</button>
                </div>
            </div>
        </article>
        <div class="findOther-date" >
            <span class="find-other-date-txt">Find other dates</span>
            <span class="find-other-date-icn"> <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="sale-box">
        <div class="flex-book-tab">
            <div class="flex-book-tab-txt">Book now, change later. Flexible bookings.</div>
        </div>
        <article class="sale-details">
            <div class="sale-wrapper">
                <div class="sale-image-div">
                    <figure id="imgbox">
                        <img class="lazy" src="/assets/img/hotelref.jpg" alt="">
                    </figure>
                </div>
                <div class="sale-description-div">
                    <!-- <h1>Hotel 1</h1>
                    <h3>Seatle, USA</h3> -->
                    <span class="WS-loc-txt premium-brand "> Premium </span>
                    <div class="WS-location-point ">
                        <span class="WS-loc-icn ">
                            <span class="depFlight ">London Heathrow</span>
                            <span class="flightCode ">(LHR)</span>
                            <span class="dubbleArrow "><i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                            <span class="destFlight ">Orlando</span>
                            <span class="flightCode ">(MCO)</span>
                        </span>
                    </div>
                    <div class="WS-location-detail ">
                        <div class="">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="WS-outbound-date ">08 Sep</span> - <span class="WS-return-date ">15 Sep 21
                                </span>
                            </span>
                        </div>
                        <div class="brandBaggage ">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </span>
                                        <span class="baggageDet">2 x 23kg baggage </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sale-button-div">
                    <button class="view">Book from £621</button>
                </div>
            </div>
        </article>
        <div class="findOther-date" >
            <span class="find-other-date-txt">Find other dates</span>
            <span class="find-other-date-icn"> <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="sale-box">
        <div class="flex-book-tab">
            <div class="flex-book-tab-txt">Book now, change later. Flexible bookings.</div>
        </div>
        <article class="sale-details">
            <div class="sale-wrapper">
                <div class="sale-image-div">
                    <figure id="imgbox">
                        <img class="lazy" src="/assets/img/hotelref.jpg" alt="">
                    </figure>
                </div>
                <div class="sale-description-div">
                    <!-- <h1>Hotel 1</h1>
                    <h3>Seatle, USA</h3> -->
                    <span class="WS-loc-txt premium-brand "> Premium </span>
                    <div class="WS-location-point ">
                        <span class="WS-loc-icn ">
                            <span class="depFlight ">London Heathrow</span>
                            <span class="flightCode ">(LHR)</span>
                            <span class="dubbleArrow "><i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                            <span class="destFlight ">Orlando</span>
                            <span class="flightCode ">(MCO)</span>
                        </span>
                    </div>
                    <div class="WS-location-detail ">
                        <div class="">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="WS-outbound-date ">08 Sep</span> - <span class="WS-return-date ">15 Sep 21
                                </span>
                            </span>
                        </div>
                        <div class="brandBaggage ">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </span>
                                        <span class="baggageDet">2 x 23kg baggage </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sale-button-div">
                    <button class="view">Book from £621</button>
                </div>
            </div>
        </article>
        <div class="findOther-date" >
            <span class="find-other-date-txt">Find other dates</span>
            <span class="find-other-date-icn"> <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="sale-box">
        <div class="flex-book-tab">
            <div class="flex-book-tab-txt">Book now, change later. Flexible bookings.</div>
        </div>
        <article class="sale-details">
            <div class="sale-wrapper">
                <div class="sale-image-div">
                    <figure id="imgbox">
                        <img class="lazy" src="/assets/img/hotelref.jpg" alt="">
                    </figure>
                </div>
                <div class="sale-description-div">
                    <!-- <h1>Hotel 1</h1>
                    <h3>Seatle, USA</h3> -->
                    <span class="WS-loc-txt premium-brand "> Premium </span>
                    <div class="WS-location-point ">
                        <span class="WS-loc-icn ">
                            <span class="depFlight ">London Heathrow</span>
                            <span class="flightCode ">(LHR)</span>
                            <span class="dubbleArrow "><i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                            <span class="destFlight ">Orlando</span>
                            <span class="flightCode ">(MCO)</span>
                        </span>
                    </div>
                    <div class="WS-location-detail ">
                        <div class="">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="WS-outbound-date ">08 Sep</span> - <span class="WS-return-date ">15 Sep 21
                                </span>
                            </span>
                        </div>
                        <div class="brandBaggage ">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </span>
                                        <span class="baggageDet">2 x 23kg baggage </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sale-button-div">
                    <button class="view">Book from £621</button>
                </div>
            </div>
        </article>
        <div class="findOther-date" >
            <span class="find-other-date-txt">Find other dates</span>
            <span class="find-other-date-icn"> <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="sale-box">
        <div class="flex-book-tab">
            <div class="flex-book-tab-txt">Book now, change later. Flexible bookings.</div>
        </div>
        <article class="sale-details">
            <div class="sale-wrapper">
                <div class="sale-image-div">
                    <figure id="imgbox">
                        <img class="lazy" src="/assets/img/hotelref.jpg" alt="">
                    </figure>
                </div>
                <div class="sale-description-div">
                    <!-- <h1>Hotel 1</h1>
                    <h3>Seatle, USA</h3> -->
                    <span class="WS-loc-txt premium-brand "> Premium </span>
                    <div class="WS-location-point ">
                        <span class="WS-loc-icn ">
                            <span class="depFlight ">London Heathrow</span>
                            <span class="flightCode ">(LHR)</span>
                            <span class="dubbleArrow "><i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                            <span class="destFlight ">Orlando</span>
                            <span class="flightCode ">(MCO)</span>
                        </span>
                    </div>
                    <div class="WS-location-detail ">
                        <div class="">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="WS-outbound-date ">08 Sep</span> - <span class="WS-return-date ">15 Sep 21
                                </span>
                            </span>
                        </div>
                        <div class="brandBaggage ">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </span>
                                        <span class="baggageDet">2 x 23kg baggage </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sale-button-div">
                    <button class="view">Book from £621</button>
                </div>
            </div>
        </article>
        <div class="findOther-date" >
            <span class="find-other-date-txt">Find other dates</span>
            <span class="find-other-date-icn"> <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="sale-box">
        <div class="flex-book-tab">
            <div class="flex-book-tab-txt">Book now, change later. Flexible bookings.</div>
        </div>
        <article class="sale-details">
            <div class="sale-wrapper">
                <div class="sale-image-div">
                    <figure id="imgbox">
                        <img class="lazy" src="/assets/img/hotelref.jpg" alt="">
                    </figure>
                </div>
                <div class="sale-description-div">
                    <!-- <h1>Hotel 1</h1>
                    <h3>Seatle, USA</h3> -->
                    <span class="WS-loc-txt premium-brand "> Premium </span>
                    <div class="WS-location-point ">
                        <span class="WS-loc-icn ">
                            <span class="depFlight ">London Heathrow</span>
                            <span class="flightCode ">(LHR)</span>
                            <span class="dubbleArrow "><i class="fa fa-exchange" aria-hidden="true"></i>
                            </span>
                            <span class="destFlight ">Orlando</span>
                            <span class="flightCode ">(MCO)</span>
                        </span>
                    </div>
                    <div class="WS-location-detail ">
                        <div class="">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                                <span class="WS-outbound-date ">08 Sep</span> - <span class="WS-return-date ">15 Sep 21
                                </span>
                            </span>
                        </div>
                        <div class="brandBaggage ">
                            <span class="WS-loc-txt ">
                                <span class="WS-loc-icn ">
                                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                                        </span>
                                        <span class="baggageDet">2 x 23kg baggage </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sale-button-div">
                    <button class="view">Book from £621</button>
                </div>
            </div>
        </article>
        <div class="findOther-date" >
            <span class="find-other-date-txt">Find other dates</span>
            <span class="find-other-date-icn"> <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
    </div>
   
   
</section>